<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - RGUWork</title>
        <link rel="stylesheet" href="css/home.css">
        <script src="js/home.js"></script>
        <script src="https://kit.fontawesome.com/5091f92224.js" crossorigin="anonymous"></script>
        <script src="js/calendarWeek.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    </head>
    <body>
        
        <%- include('../partials/header') %>
        <main>
            <div id="mainbackground">
                <div id="userGreet">
                    <h1 id = "greeting"></h1> <h1>&nbsp; <%= username %></h1>
                </div> 
                
                <div id = "nextShift">
                    <h1>Your next shift is:</h1>

                    <div id = "shiftDetails">
                        
                    </div>
                </div>

                <button id="addEvent">Add Event</button>
                <div id = "eventForm">
                    <form autocomplete="off" action="/addEvent" method="post">
                        <label>Title:</label><br>
                        <input type="text" name="eventTitle"><br>
                        <label>Location:</label><br>
                        <input type="text" name="location"><br>
                        <label>Building:</label><br>
                        <select name="building">
                            <option value="Science Building">Science Building</option>
                            <option value="Business Building">Business Building</option>
                            <option value="Art Building">Art Building</option>
                            <option value="Engineering Building">Engineering Building</option>


                            <!--<option value="Ishbel Gordon Building">Ishbel Gordon</option>
                            <option value="Sir Ian Wood Building">Sir Ian Wood</option>
                            <option value="RGU Sport Building">RGU Sport</option>
                            <option value="Riverside Building">Riverside</option>
                            <option value="Central Services Building">Central Services</option>
                            <option value="Garthdee House Building">Garthdee House</option>
                            <option value="Grays School of Art Building">Grays School of Art</option> -->
                        </select><br>
                        <label>Target User Email:</label><br>
                        <input type="text" name="Target"><br>
                        <label>Start Date and Time:</label><br>
                        <input type="datetime-local" name="startDate"><br>
                        <label>End Date and Time:</label><br>
                        <input type="datetime-local" name="endDate"><br>
                        <label>All Day?:</label><br>
                        <input type="checkbox" name="allDayCheck"><br>
                        <input type="submit" name="submit" value="Submit Event">
                    </form>
                </div>
                <div id="calendarBlock">
                    <div id = "calendar">
                        
                    </div>
                </div>

                <section class="adBanner">
                    <%- include('../partials/ads') %>
                </section>


                    <div id = "News">
                        <h1>News</h1>
                        <div class = "NewsBlock">
                            <h2>News Title 1</h2>
                            <p>News info goes here</p>
                        </div>
                        <div class = "NewsBlock">
                            <h2>News Title 2</h2>
                            <p>News info goes here</p>
                        </div>
                        <div class = "NewsBlock">
                            <h2>News Title 3</h2>
                            <p>News info goes here</p>
                        </div>
                    </div>
                
                
            </div>

    </main>

    <section class="adBanner">
        <%- include('../partials/ads') %>
    </section>

    <%- include('../partials/footer') %>

    </body>
</html>