<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio - RGUWork</title>
        <link rel="stylesheet" href="css/home.css">
        
        <script src="https://kit.fontawesome.com/5091f92224.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <%- include('../partials/header') %>

        <div class="p-header">
            <h1>Profile</h1>
        </div>
        
        <main class="p-container">
            <div class="p-image">
                <img src="<%- image %>" id = "pfp">
            </div>
            <div>
                <h1>Name: <%= fname %>  <%= lname %></h1>
                <Button id="nameEdit" onclick="openEditName()">Edit</Button>
                <section id="nameEditPopUp">
                    <form id="nameEditForm" method="POST">
                        <input type="text" placeholder="First Name" name="fname" value="<%= fname %>">
                        <input type="text" placeholder="Last Name" name="lname" value="<%= lname %>">
                        <button type="submit">Save</button>
                    </form>
                    <button onclick="closeEditName()" id="closeEditNameBtn">Close</button>
                </section>
                


                <h1>Email: <%= email %></h1>
                <Button id="emailEdit" onclick="openEditEmail()">Edit</Button> 
                <form id="emailEditForm">
                    <input type="text" placeholder="Email" name="email" value="<%= email %>">
                    <button type="submit" onclick="closeEditEmail()">Save</button>
                </form>
                <h1>School: <%= school %> </h1>
                <Button id="schoolEdit" onclick="openEditSchool()">Edit</Button>
                <form id="schoolEditForm">
                    <input type="text" placeholder="School" name="school" value="<%= school %>">
                    <button type="submit" onclick="closeEditSchool()">Save</button>
                </form>
                
                <section id="portfolio">
                    <div>
                        <h1>My Portfolio: </h1>
                        <a href="portfolio.ejs">
                            <button>View</button>
                        </a>
                    </div>
                </section>
                
            </div>
            
            <!-- <Button>Settings</Button> -->

        </main>

        <%- include('../partials/footer') %>
        <script src="js/home.js"></script>
    </body>
</html>

<!-- Cock and Balls -->