<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile - RGUWork</title>
        <link rel="stylesheet" href="css/home.css">
        
        <script src="https://kit.fontawesome.com/5091f92224.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <%- include('../partials/header') %>

        <div class="p-header">
            <h1>Profile</h1>
        </div>
        
        <main class="p-container">
            <div class="p-image">
                <img src="<%- image %>" id = "pfp">
            </div>
            <div>
                <h1>Name: <%= fname %>  <%= lname %></h1>
                <Button id="nameEdit" onclick="openEditName()">Edit</Button>
                <section id="nameEditPopUp">
                    <form action="/updateUsername" method="POST">
                        <label>Update name</label><br>
                        <input type="text" name="updatename">
                        
                        <button type="submit">Update</button>
                      </form>
                      <!-- make it for 2 variables make sure to add in any ids if needed remember to edit js -->
                    <button onclick="closeEditName()" id="closeEditNameBtn">Close</button>
                </section>
                


                <h1>Email: <%= email %></h1>
                <Button id="emailEdit" onclick="openEditEmail()">Edit</Button> 
                <section id="emailEditPopUp">
                    <form action="/updateEmail" method="POST">
                        <label>Update Email</label><br>
                        <input type="text" name="updateemail">
                        
                        <button type="submit">Update</button>
                      </form>
                      <!-- make it for 2 variables make sure to add in any ids if needed remember to edit js -->
                    <button onclick="closeEditEmail()" id="closeEditEmailBtn">Close</button>
                </section>







                <h1>School: <%= school %> </h1>
                <Button id="schoolEdit" onclick="openEditSchool()">Edit</Button>
                <section id="schoolEditPopUp">
                    <form action="/updateSchool" method="POST">
                        <label>Update School</label><br>
                        <input type="text" name="updateSchool">
                        
                        <button type="submit">Update</button>
                      </form>
                      <!-- make it for 2 variables make sure to add in any ids if needed remember to edit js -->
                    <button onclick="closeEditSchool()" id="closeEditEmailBtn">Close</button>
                </section>





                
                <section id="portfolio">
                    <div>
                        <h1>My Portfolio: </h1>
                        <a href="/portfolio">
                            <button>View</button>
                        </a>
                    </div>
                </section>
                
            </div>
            
            <!-- <Button>Settings</Button> -->
            
            <section class="adBanner">
                <%- include('../partials/ads') %>
            </section>

        </main>

        <%- include('../partials/footer') %>
        <script src="js/home.js"></script>
    </body>
</html>

